body {
    margin: 0;
    font-family: Tahoma, sans-serif;
}

.intro {
    height: 1080px;
    position: relative;
    background: url("sea.png") center no-repeat;
    background-size: cover;
    overflow-x:hidden;
}

.photo {
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
  object-fit: cover;
  position: relative;
  top: 50px;
  left: 70px;
}

.photo:hover {
  border: 3px solid #E0FFFF;
}
 
.button {
  position: relative;
  top: 130px;
  left:130px;
}

.line {
  position: relative;  
  top: 60px;
  left: 10px;  
  color: #ffffff;
}

h1 {
    font-size: 20px;
    color: #ffffff;
    position: relative;
    top: 30px;
    left: 85px;
}

p {
  position: relative;
  top: 60px;
  left: 50px;  
  color: #ffffff;
}


a {
  display: block;
  text-decoration:none;
  margin-bottom: 1.2em;
  position: relative;
  top: 80px;
  left:20px;
}

a:link {
  color: #ffffff;
}

a:visited {
  color: #6600ff;
}

a:hover {
  color: #0000cd;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(1.5em);
  border-bottom: 1px solid #ffffff;
  width: 90px;
}




